/*
Ryan Songcuan
2/13/2022
Module 7.3 Assignment: bioSite: Development
 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.header {
    background-color: rgba(0, 58, 93, 1);
    color: white;
    width: 100%;
    position: relative;
    padding: 20px;
    text-align: left;
}

.header h1, .header ul {
    display: inline-block;
}

.header h1 {
    padding-top: 20px;
}
nav {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}
.nav-links li img {
    height: 20px;
    width: 20px;
}

.nav-links li img:hover {
    box-shadow: 0 0 15px 1.5px rgba(0, 149, 202, 1);
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.nav-links li a:hover {
    color: rgba(0, 149, 202, 1);
    text-shadow: 0 0 10px rgba(0, 149, 202, 1);
}

#intro {
    text-align: center;
}
h2 {
    padding: 50px 0 25px 20px;
    color: rgba(0, 58, 93, 1);
}
h3 {
    text-align: center;
    color: rgba(0, 58, 93, 1);
}

#landing {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto;
}

#landing a {
    text-decoration: none;
}

.landing-img {
    border: 3px solid rgba(0, 58, 93, 1);
    border-radius: 15px;
    margin: 20px;
    padding-top: 10px;
    text-align: center;
}

.landing-img:hover {
    box-shadow: 0 0 15px 1.5px rgba(0, 149, 202, 1);
}

.hobbies-img {
    border: 3px solid rgba(0, 58, 93, 1);
    border-radius: 15px;
    padding: 20px;
    margin: 0 5% 8% 5%;
}

.hobbies-img a {
    width: 100%;
    height: auto;
    margin: 30px 20px 20px 20px;
}

.hobbies-img p {
    margin: 30px 20px 20px 20px;
}

.about-img {
    border: 3px solid rgba(0, 58, 93, 1);
    border-radius: 15px;
    padding: 20px;
    margin: 0 20% 8% 20%;
}

.about-img figure {
    padding: 20px;
}

.landing-img img, .hobbies-img img, .about-img img {
    border-radius: 15px;
}

footer {
    background-color: rgba(0, 58, 93, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    color: white;
    font-style: italic;
    height: 70px;
}

footer p {
    float: left;
    padding-top: 1.5%;
    padding-left: 5px;
}

footer img {
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 8px;
}

footer img:hover {
    box-shadow: 0 0 10px 6px rgba(0, 149, 202, 1);
}

.hobbies-container {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.container {
    position: relative;
    flex: 50%;
    justify-content: space-between;
}

#image4 {
    max-height: 545px;
    width: auto;
    margin-left: 15%;
}

.image {
    width: 90%;
    height: auto;
    border-radius: 15px;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 149, 202, 1);
    border-radius: 15px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#space {
    margin-bottom: 80px;
}